body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  margin: 50px auto;
}

.hide {
  display: none;
}

.note-form {
  margin: 0 auto;
  width: 60%;
  height: 200px;
}

.nav-item {
  z-index: 999;
}
